.aboutUs {
    flex: 1; 
    height: 95%;
    padding: 2rem;
    background-color: #f9fafb;
    color: #5956d6;
    border: 1px solid #5956d6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 20%);
    margin-left: 10%;
}