.welcomeMessage {
    margin-left: 4rem;
    font-size: 20px;
    color: #fff;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 2rem;
    gap: 2rem;
  }
  
  .sideLeft, .sideRight {
    flex: 1; 
    height: 100%;
    padding: 2rem;
    background-color: #f9fafb;
    color: #5956d6;
    border: 1px solid #5956d6;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sideLeft h2, .sideRight h2 {
    margin-bottom: 1rem;
  }
  
  .sideLeft h4, .sideRight h4 {
    margin-bottom: 0.5rem;
  }
  
  .sideRight input {
    display: block;
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0 0;
    padding: 0.5rem;
    border: 1px solid #5956d6;
    border-radius: 7px;
  }
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    
    .sideRight input {
      width: calc(100% - 2rem);
      margin: 1rem 0;
    }
  }
  
  .sideRight textarea, .sideRight button {
    display: block;
    width: calc(100% - 2rem);
    margin: 1rem 1rem 0 0;
    padding: 0.5rem;
    border: 1px solid #5956d6;
    border-radius: 7px;
  }